<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>.html</title>
    <th:block th:insert="~{/include/bs5.html}"></th:block>
    <script th:inline="javascript">
        'use strict';

        // 메세지 처리
        let message = [[${message}]];
        if(message != null) alert(message);
    </script>
</head>
<body>
<p><br/></p>
<div class="container text-center">
        <form method="post" action="/user/userUpdateOk">
            <table class="table table-bordered text-center">
                <tr>
                    <td colspan="2"><span style="font-size:25px" >회 원 정 보 수 정</span></td>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td>[[${dto.mid}]]</td>
                </tr>
                <tr>
                    <th>성명</th>
                    <td><input type="text" name="name" id="name" th:value="${dto.name}" required class="form-control" /></td>
                </tr>
                <tr>
                    <th>나이</th>
                    <td><input type="number" name="age" id="age" th:value="${dto.age}" required class="form-control" /></td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td>
                        <!--<input type="radio" name="gender" id="gender1" value="남자" th:if="${dto.gender} == '남자' ? 'checked' : ''"/>남자 &nbsp;-->
                        <input type="radio" name="gender" id="gender1" value="남자" th:checked="${dto.gender == '남자'}" />남자 &nbsp;
                        <input type="radio" name="gender" id="gender2" value="여자" th:checked="${dto.gender == '여자'}" />여자
                    </td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td><input type="text" name="address" id="address" th:value="${dto.address}" class="form-control" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="정보수정" class="btn btn-success me-2"/>
                        <input type="reset" value="다시입력" class="btn btn-warning me-2"/>
                        <input type="button" value="돌아가기" th:onclick="|location.href='@{/}'|" class="btn btn-primary"/>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="mid" th:value="${dto.mid}" />
        </form>
</div>
<p><br/></p>
</body>
</html>